nextflow.enable.dsl = 2

process {
  maxRetries = 1
  errorStrategy = 'retry'
}

profiles {
  standard {
    process {
      executor = 'local'
    }
    docker.enabled = true
    docker.runOptions = '--platform linux/amd64'
  }

  batch {
    process{
      executor = 'awsbatch'
      queue = 'nextflow-batch-default-queue'
    }
    workDir = 's3://nextflow-ccdl-data/work'
    docker.enabled = true
    aws{
      batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
      region = 'us-east-1'
    }
  }
}
