nextflow.enable.dsl = 2
// Load base process config with labels
includeConfig 'config/process_base.config'

profiles {
  standard {
    process {
      executor = 'local'
      resourceLimits = [ cpus: 4, memory: 16.GB ]
    }
    docker.enabled = true
    docker.runOptions = '--platform linux/amd64'
    wave.enabled = true
  }
  batch {
    includeConfig 'config/profile_batch.config'
  }
}
