// profile for fusion filesystem enabled batch pipeline

docker.enabled = true
fusion.enabled = true
wave.enabled = true


aws {
  batch{
    maxTransferAttempts = 3
    maxSpotAttempts = 2
  }
  region = 'us-east-2'
}


process {
  executor = 'awsbatch'
  scratch = false
  resourceLimits = [ cpus: 64, memory: 512.GB ]
  queue = 'openscpca-nf-batch-default-queue'
  // switch to the priority queue for known long running tasks if failing
  withLabel: 'long_running' {
    queue = { task.attempt < 2 ? 'openscpca-nf-batch-default-queue' : 'openscpca-nf-batch-priority-queue' }
  }
}
